<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="AppName" value="LicenseController"/>
  </appSettings>
  <connectionStrings>
    <add name="AUTOCADLICENSEEntities1" connectionString="metadata=res://*/DAL.AUTOCADLICENSE.csdl|res://*/DAL.AUTOCADLICENSE.ssdl|res://*/DAL.AUTOCADLICENSE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.35.42;initial catalog=AUTOCADLICENSE;persist security info=True;user id=autocaduser;password=as!9ds..s23;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutocadLicenseDatabase" connectionString="Data Source=31.7.35.42;Initial Catalog=AUTOCADLICENSE;persist security info=True;user id=autocaduser;password=as!9ds..s23;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="CheckLicenseDbLog" connectionString="Data Source=31.7.35.42;Initial Catalog=CHECKLICENSEDBLOG;persist security info=True;user id=autocaduser;password=as!9ds..s23;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="messageBehaviorExtension" type="LicenseControllerWs.ParameterInspector.MessageBehaviourExtension,LicenseControllerWs,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <messageBehaviorExtension/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
