<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AutocadLicenseDatabase" connectionString="Data Source=31.7.35.42\SQLEXPRESS;Initial Catalog=AUTOCADLICENSE;persist security info=True;user id=autocaduser;password=as!9ds..s23;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="CheckLicenseDbLog" connectionString="Data Source=31.7.35.42\SQLEXPRESS;Initial Catalog=CHECKLICENSEDBLOG;persist security info=True;user id=autocaduser;password=as!9ds..s23;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" /><add name="AUTOCADLICENSEEntities1" connectionString="metadata=res://*/DAL.AUTOCADLICENSE.csdl|res://*/DAL.AUTOCADLICENSE.ssdl|res://*/DAL.AUTOCADLICENSE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.35.42;initial catalog=AUTOCADLICENSE;persist security info=True;user id=autocaduser;password=as!9ds..s23;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>